{% extends 'base.html.twig' %}

{% block title %}Servicios{% endblock %}

{% block body %}
<div class="container">
    <h1>Servicios</h1>
    <div>
        <a class="btn btn-primary mb-4 btn-home" href="{{ path('back') }}">Volver</a>
    </div>
    <div>
        <a class="btn btn-primary mb-4 btn-home" href="{{ path('servicios_new') }}">Crear nuevo</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Fechacreacion</th>
                <th>Activo</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for servicio in servicios %}
            <tr>
                <td>{{ servicio.id }}</td>
                <td>{{ servicio.nombre }}</td>
                <td>{{ servicio.fechacreacion ? servicio.fechacreacion|date('Y-m-d') : '' }}</td>
                <td>{{ servicio.activo ? 'Yes' : 'No' }}</td>
                <td>
                    <a class="btn btn-primary mb-4 btn-home" href="{{ path('servicios_show', {'id': servicio.id}) }}">Detalles</a>
                    <a class="btn btn-primary mb-4 btn-home" href="{{ path('servicios_edit', {'id': servicio.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">No se ha encontrado</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    
</div>
{% endblock %}
