{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="http://trivadog.mipropia.com/trivadog/public/css/registry.css">
  <link rel="stylesheet" type="text/css" href="http://trivadog.mipropia.com/trivadog/public/css/modal.css">
{% endblock %}

{% block body %}
<div class="container">
  <div class="row align-items-center py-4"></div>
  
  <div class="row justify-content-center" style="min-height: 500px">
    <div class="col-12 ">
      <div class="row">
        <div class="col-1"></div>
        <div class="col-10">
          <div class="card bg-light">
            <div class="card-body">
              <form id="form-register" action="http://trivadog.mipropia.com/trivadog/public/proveedores/guardar" method="post">
                <div class="row">
                  {% set valinputname = "" %}
                  {% set valinputemail = "" %}
                  {% set valinputphone = "" %}
                   {% set valinputpassword = "" %}
                  {% set valinputaddress = "" %}
                  {% set valinputadmin1 = "" %}
                  {% set valinputadmin2 = "" %}
                  {% set valinputadmin3 = "" %}

                  {% if arrayerror is defined %}
                    {% set valinputname = provider.nombre %}
                    {% set valinputemail = provider.email %}
                    {% set valinputphone = provider.telefono %}
                    {% set valinputpassword = provider.password %}
                    {% set valinputaddress = provider.direccion %}
                    {% set valinputadmin1 = provider.admin1code %}
                    {% set valinputadmin2 = provider.admin2code %}
                    {% set valinputadmin3 = provider.admin3code %}
                  {% endif %}
                  <input id="inputhiddenaction" type="hidden" value="{{ createedit }}">
                  <div class="col-1"></div>
                  <div class="col-12 col-lg-10 px-3">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Nombre proveedor</label>
                      <input type="text" class="form-control" id="inputname" name="inputname" nombre="nombre" value="{{ valinputname }}">
                      {% if arrayerror["nombre"] is defined %}
                        <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["nombre"]}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-12 col-lg-5 px-3">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Email</label>
                      <input type="email" class="form-control" id="inputemail" name="inputemail" placeholder="name@example.com" nombre="email" value="{{ valinputemail }}">
                      {% if arrayerror["email"] is defined %}
                        <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["email"]}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12 col-lg-5 px-3">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Teléfono</label>
                      <input type="tel" class="form-control" id="inputphone" name="inputphone" nombre="teléfono"  value="{{ valinputphone }}">
                      {% if arrayerror["telefono"] is defined %}
                        <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["telefono"]}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-12 col-lg-5">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Contraseña</label>
                      <input type="password" class="form-control" id="inputpw" name="inputpw" placeholder="" nombre="contraseña" value="{{ valinputpassword}}">
                      {% if arrayerror["password"] is defined %}
                        <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["password"]}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-12 col-lg-5">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Confirmar Contraseña</label>
                      <input type="password" class="form-control" id="inputpw2" name="inputpw2" placeholder="" nombre="confirmar contraseña" value="{{ valinputpassword}}">
                      {% if arrayerror["password"] is defined %}
                        <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["password"]}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-12 col-lg-10">
                    <div class="form-group">
                      <label for="exampleFormControlInput1">Dirección</label>
                      <input type="text" class="form-control" id="inputaddress" name="inputaddress" nombre="dirección"  value="{{ valinputaddress }}">
                      {% if arrayerror["direccion"] is defined %}
                        <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["direccion"]}}</p>
                      {% endif %}
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                    <div class="col-12 col-lg-3">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Comunidad Autónoma:</label>
                        <select class="form-control" name="autonomia" id="autonomia" nombre="autonomía" onchange="getProvincias()">
                        <option value="">Seleccione Autonomía</option>
                          {% for geocomunidad in geocomunidades %}
                            <option value="{{geocomunidad.admin1code}}">{{geocomunidad.name}}</option>
                          {% endfor %}
                        </select>
                        {% if arrayerror["autonomia"] is defined %}
                          <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["autonomia"]}}</p>
                        {% endif %}
                        <input name="inputhiddenadmin1" type="hidden" value="{{ valinputadmin1 }}">
                      </div>
                    </div>
                    <div class="col-12 col-lg-3">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Provincias:</label>
                        <select class="form-control" name="provincias" id="provincias" nombre="provincia" onchange="getPoblacion()" disabled>
                          <option value="">Seleccione Provincia</option>
                        </select>
                        {% if arrayerror["provincias"] is defined %}
                          <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["provincias"]}}</p>
                        {% endif %}
                        <input name="inputhiddenadmin2" type="hidden" value="{{ valinputadmin2 }}">
                      </div>
                    </div>
                    <div class="col-12 col-lg-3">
                      <div class="form-group">
                        <label for="exampleFormControlInput1">Población:</label>
                        <select class="form-control" name="poblacion" id="poblacion" nombre="población" disabled>
                          <option value="">Seleccione Poblacion</option>
                        </select>
                        {% if arrayerror["poblacion"] is defined %}
                          <p class="mensajeError" style="color:red">Por favor, rellene el campo. {{arrayerror["poblacion"]}}</p>
                        {% endif %}
                        <input name="inputhiddenadmin3" type="hidden" value="{{ valinputadmin3 }}">
                      </div>
                    </div>
                  <div class="col-1"></div>
                </div>
                <div class="row">
                  <div class="col-1"></div>
                  <div class="col-12 col-lg-10">
                    <div class="input-group mb-3">
                      <div class="input-group-prepend">
                        <div class="input-group-text">
                          <input id="checkbox-accept" type="checkbox" aria-label="Checkbox for following text input" required>
                        </div>
                      </div>
                      <label for="checkbox-accept"><a href="#" class="link-n">Acepta las condiciones</a></label>
                    </div>
                  </div>
                  <div class="col-1"></div>
                </div>
                <div class="row pb-4">
                  <div class="col-1"></div>
                  <div class="col-12 col-lg-10">
                    <button id="btn-send" type="submit" class="btn btn-primary btn-lg btn-home ml-2" control="On" data-toggle="tooltip" title="Por favor, complete el formulario">Guardar</button>
                  </div>
                  <div class="col-1"></div>
                </div>
              </form>
            </div>
          </div>
        </div>
        <div class="col-1"></div>
      </div>
    </div>
  </div>
  <div class="row pb-4"></div>
</div>

<!--modal-->
<div id="myModal"class="modal " tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modal-img"src="" style="float:left">
        <p id="modal-text" class="modal-text mt-3"></p>
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-primary btn-home" data-dismiss="modal">Cerrar</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  {% set modal = 'hide' %}
  {% set message = "" %}
  {% set img = "" %}
  {% set title = "" %}
  
  {% if querystatus == 'new' %}
    {% set modal = 'show' %}
    {% set message = 'Registro realizado satisfactoriamente.' %}
    {% set img = 'http://trivadog.mipropia.com/trivadog/public/img/ico/dog_pilot.ico' %}
    {% set title = 'Bienvenido!!' %}
  {% elseif querystatus == 'edit' %}
    {% set modal = 'show' %}
    {% set message = 'Modificación realizada satisfactoriamente.' %}
    {% set img = 'http://trivadog.mipropia.com/trivadog/public/img/ico/dog_fitness.ico' %}
    {% set title = 'Datos guardados!!' %}
  {% elseif querystatus == 'error' %}
    {% set modal = 'show' %}
    {% set message = 'No se ha podido realizar el registro. Por favor, vuelva a intentarlo.' %}
    {% set img = 'http://trivadog.mipropia.com/trivadog/public/img/ico/dog_scream.ico' %}
    {% set title = 'Error!!' %}
  {% elseif querystatus == 'faltan' %}
    {% set modal = 'show' %}
    {% set message = 'Faltan datos o no tienen un formato válido.' %}
    {% set img = 'http://trivadog.mipropia.com/trivadog/public/img/ico/dog_scream.ico' %}
    {% set title = 'Error!!' %}
  {% endif %}
  <script src="http://trivadog.mipropia.com/trivadog/public/js/registroproveedores.js"></script>
  <script>
    $(document).ready(function (){
      var statusmodal = '{{ querystatus }}';
      var img = '{{ img }}';
      var title = '{{ title }}';
      if (statusmodal == 'new'){
        url = "http://trivadog.mipropia.com/trivadog/public/login";
      }else if (statusmodal == 'edit'){
        url = "http://trivadog.mipropia.com/trivadog/public/proveedores/cuentaproveedor/";
      }else if (statusmodal == 'error'){
        url = "http://trivadog.mipropia.com/trivadog/public/proveedores/index";
      }else if (statusmodal == 'faltan'){
        getComunidades();
      }

      $('#modal-title').text(title);
      $('#modal-img').attr('src', img);
      $('#modal-text').text('{{ message }}');
      $('#myModal').modal('{{ modal }}');
      $('#myModal').on('hide.bs.modal', function(){
        if (statusmodal == 'faltan'){
          CargaLocalStorage();
          return;
        }else{
          localStorage.clear();
          location.href = url;
        }
      });
    });

    
  </script>
{% endblock %}