{% extends 'base.html.twig' %}

{% block title %}{% endblock %}

{% block stylesheets %}
<link rel="stylesheet" href="/css/provider.css">
<link rel="stylesheet" href="/css/modal.css">

{% endblock %}

{% block body %}
<div class="container">
  <div class="row py-4 ml-1" style="height: 20%"></div>
  <div class="row justify-content-center">
    <div id="left-menu" class="col-10 col-lg-2 pr-0">
      <div>
        <a href="/proveedores/reservas" class=" btn btn-primary mb-2 btn-home ">Reservas</a>
      </div>
      <div>
        <a id="btn-new" href="/proveedores/reservas" class="btn btn-primary mb-2 btn-home " type="button" data-toggle="collapse" data-target="#collapse-nuevo" aria-expanded="false"
          aria-controls="collapseExample">Nuevo</a>
        <div class="collapse" id="collapse-nuevo">
          <div class="card-body pt-0 menu-pos">
            <a href="/hospedaje/alojamiento/nuevo" class="menu">Alojamiento</a>
            <hr class="my-1">
            <a href="/proveedores/habitacion/nuevo" class="menu">Habitación</a>
            <hr class="my-1">
          </div>
        </div>
      </div>
      <div>
        <a id="btn-accommodation" href="" class="btn btn-primary mb-2 btn-home" type="button" data-toggle="collapse" data-target="#collapse-alojamiento" aria-expanded="false"
          aria-controls="collapseExample">Alojamientos</a>
        <div class="collapse" id="collapse-alojamiento">
          <div class="card-body pt-0 menu-pos">
            {% for val in host %}
            <a href="/hospedaje/alojamiento/editar/{{ val.id }}" class="menu">{{ val.nombre }}</a>
            <hr class="my-1">
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="col-10">
      <div class="row">
        <div class="col-12 px-0 pb-3">
          {% for item in room %}
          <div class="row ml-3 my-2 result-hist">
            {% set path = "/img/ico/dog_chihuahua_bone.ico" %}
            {% if item.nombrefichero != "dog_boxer.ico" %}
              {% set path ="/img/host/" ~ item.idhabitacion ~ "/" ~ item.nombrefichero  %}
            {% endif %}
            <div class="col-3 p-2">
              <img src="{{ path }}" class="center-img" style="width:8rem; height:6rem">
            </div>
            <div class="col-5 p-2" align="center">
              <h3 class="mt-1 mb-2 title-color ">{{ item.nombrehospedaje }}</h3>
              <h6 class="mt-1 mb-2 title-color">{{ item.nombrehabitacion }}</h6>
            </div>
            <div class="col-4 my-auto px-0" align="center">
              <a href="/proveedores/crearreserva/{{item.idhabitacion}}" class="btn btn-primary btn-editar btn-sm my-2 mx-4 mx-lg-2">Reservar</a>
              <a href="/proveedores/habitacion/editar/{{item.idhabitacion}}/{{ page }}" class="btn btn-primary btn-editar btn-sm my-2 mx-4 mx-lg-2">Editar</a>
              <a href="/proveedores/habitacion/borrar/{{item.idhabitacion}}/{{ page }}" class="btn btn-primary btn-editar btn-danger btn-sm my-2 mx-4 mx-lg-2">Borrar</a>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
  <!--Paginacion-->
  {% if pagestotal >= 2 %}
  <div class="row pb-4" style="height: 20%">
    <div class="col-12 pt-5">
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center pl-0">
          <li class="page-item"><a class="page-link" href="/proveedores/cuentaproveedor?page={{ prev }}">Anterior</a></li>
          {% for i in 1..pagestotal %}
          {% set active = "" %}
          {% if page == i %}
          {% set active = "active" %}
          {% endif %}
          <li class="page-item {{ active }}"><a class="page-link" href="/proveedores/cuentaproveedor?page={{ i }}">{{ i }}</a></li>
          {% endfor %}
          <li class="page-item"><a class="page-link" href="/proveedores/cuentaproveedor?page={{ next }}">Siguiente</a></li>
        </ul>
      </nav>
    </div>
  </div>
  {% endif %}
</div>

<!--Modal error-->
<div id="myModal"class="modal " tabindex="-1" role="dialog">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 id="modal-title" class="modal-title"></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <img id="modal-img"src="" style="float:left">
        <p id="modal-text" class="modal-text mt-3"></p>
      </div>
      <div class="modal-footer">
        <button id="closeModal" type="button" class="btn btn-primary btn-home" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block javascripts %}
  <script src="{{ asset('js/provider.js') }}"></script>

  {% set modal = 'hide' %}
  {% set message = "" %}
  {% set img = "" %}
  {% set title = "" %}

  {% if querystatus == 'error' %}
    {% set modal = 'show' %}
    {% set message = 'Primero debe crear un alojamiento.' %}
    {% set img = '/img/ico/dog_scream.ico' %}
    {% set title = 'Error!!' %}
  {% elseif querystatus == 'delete' %}
    {% set modal = 'show' %}
    {% set message = 'Borrado satisfactoriamente.' %}
    {% set img = '/img/ico/dog_fitness.ico' %}
    {% set title = 'Registro borrado!!' %}
  {% elseif querystatus == 'roomerror' %}
    {% set modal = 'show' %}
    {% set message = 'No se ha podido borrar el registro. Por favor, pongase en contacto con el administrador.' %}
    {% set img = '/img/ico/dog_scream.ico' %}
    {% set title = 'Error!!' %}
  {% endif %}
  
  <script>
    $(document).ready(function (){
      {# var error = '{{ errorhost }}';  #}
      var statusmodal = '{{ querystatus }}';
      var img = '{{ img }}';
      var title = '{{ title }}';
      $('#modal-title').text(title);
      $('#modal-img').attr('src', img);
      $('#modal-text').text('{{ message }}');
      $('#myModal').modal('{{modal}}');
    });
  </script>
{% endblock %}
